{% extends 'base.html' %}
{% load tailwind_filters %}
{% block title %}Login{% endblock title %}

{% block body %}
    <div class="max-w-lg mx-auto">
        <div class="py-5 border-b border-gray-200">
            <a class="hover:text-blue-500 mt-3" href="{% url 'signup' %}">Don't have an account?</a>
        </div>
        <form method="POST" action="." class="mt-5">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="w-full bg-green-900 text-white hover:bg-green-800 px-3 py-2 rounded-md" type="submit">Login</button>
            <hr />
        </form>
        <div class="py-5 border-t border-gray-200 mt-5">
            <a class="hover:text-blue-500 mt-3" href="{% url 'reset-password' %}">Forgot password?</a>
        </div>
    </div>
{% endblock body %} 